---
import type { HTMLAttributes } from "astro/types";
export interface Props extends HTMLAttributes<"button"> {
  variant: "primary" | "secondary" | "outlined" | "text";
}

const { class: className, variant, ...rest } = Astro.props;
---

<button
  class:list={{
    [`rounded-sm px-4 py-2 transition-colors duration-200 ease-in-out hover:bg-opacity-80 ${className} select-none`]: true,
    "bg-primary text-white": variant === "primary",
    "bg-secondary text-white": variant === "secondary",
    "border border-primary bg-transparent text-primary hover:bg-accent hover:bg-opacity-10":
      variant === "outlined",
    "bg-transparent text-primary hover:bg-accent hover:bg-opacity-10":
      variant === "text",
  }}
  {...rest}
>
  <slot />
</button>
